<body style="background-color: black ; color: #faf8f8 ; ">
  <nav class="navbar navbar-dark bg-dark">
    <form class="container-fluid justify-content-end">


      <a class="btn btn-sm btn-outline-primary" type="button" style="margin-right: 5px;" href="/inicio">Inicio</a>
      <a class="btn btn-sm btn-outline-secondary" type="button" href="/reporte" style="margin-right: 5px;">DISK</a>
      <a class="btn btn-sm btn-outline-secondary" type="button" href="/reporte2" style="margin-right: 5px;">MBR</a>
      <a class="btn btn-sm btn-outline-secondary" type="button" href="/reporte3" style="margin-right: 5px;">SB</a>
      <button style="background-color: red;" type="submit" class="btn btn-primary" id="btnlogins" (click)="logout()">Logout</button>

    </form>
  </nav>

  <div class="container-fluid" style="margin-top: 3%; width: 80%;">
    <div class="mb-3">
        <h1 style="text-align:center; margin-bottom: 5%; color: #faf8f8;">Reporte MBR</h1>
        <img [src]="imagePath" style="margin:auto; display:block;">
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </body>

